---
layout: default
home: true
---

<!-- Tutorials Section -->
<h2 class="section-title">Tutorials</h2>
<article class="post-item">
  <h4 class="post-item-title">
    <a href="pariirap.github.io/blob/master/posts/multiple_constraints.html">Multiple Constraints</a>
  </h4>
</article>
<article class="post-item">
  <span class="post-item-date">May 02, 2024</span>
  <h4 class="post-item-title">
    <a href="/tutorials/custom-tutorial2.html">Custom Tutorial 2</a>
  </h4>
</article>

<!-- Projects Section -->
<h2 class="section-title">Projects</h2>
<article class="post-item">
  <span class="post-item-date">June 01, 2024</span>
  <h4 class="post-item-title">
    <a href="/projects/custom-project1.html">Custom Project 1</a>
  </h4>
</article>
<article class="post-item">
  <span class="post-item-date">June 02, 2024</span>
  <h4 class="post-item-title">
    <a href="/projects/custom-project2.html">Custom Project 2</a>
  </h4>
</article>

<!-- Articles Section -->
<h2 class="section-title">Articles</h2>
<article class="post-item">
  <span class="post-item-date">July 01, 2024</span>
  <h4 class="post-item-title">
    <a href="/articles/custom-article1.html">Custom Article 1</a>
  </h4>
</article>
<article class="post-item">
  <span class="post-item-date">July 02, 2024</span>
  <h4 class="post-item-title">
    <a href="/articles/custom-article2.html">Custom Article 2</a>
  </h4>
</article>
