---
layout: default
home: true
---

<!-- Main Section -->
<h2 class="section-title">Machine Learning ideas</h2>
<article class="post-item">
  <h4 class="post-item-title">
    <a href="https://pariirap.github.io/posts/multiple_constraints.html">Multiple Constraints</a>
  </h4>
</article>

<!-- Lookup Section -->
<h2 class="section-title">Useful lookups</h2>

<article class="post-item">
  <h4 class="post-item-title">
    <a href="https://pariirap.github.io/posts/numpy">numpy</a>
  </h4>
</article>

<article class="post-item">
  <h4 class="post-item-title">
    <a href="https://pariirap.github.io/posts/Pytorch">pytorch</a>
  </h4>
</article>


